@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #073163; /* Custom text color */
  background:  #1882c2; /* Custom background color */
}

@layer utilities {
  .text-balance {
    text-wrap: balance; /* Custom utility class for text balance */
  }
}

.parallax {
  background: #1882c2; /* Custom background color */
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax-caption {
  font-family: 'Six Caps', sans-serif;
  font-weight: 500;
  font-size: calc(1rem + 22.15vw);
        line-height: calc(1rem + 20.5vw);
  text-align: center;
  color: #073163;
  font-size: 4rem;
  line-height: 1.2;
}

.parallax-caption span {
  display: inline-block;
  transition: transform 0.3s ease, font-size 0.3s ease;
}

.parallax-caption span:hover {
  transform: scale(1.5);
  font-size: 4.5rem;
}

.box {
  background-color: #073163;
  position: absolute;
  z-index: 9999;
}
