@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Six+Caps&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #073163; /* Custom text color */
  background:  #c0e0f3; /* Custom background color */
}

@layer utilities {
  .text-balance {
    text-wrap: balance; /* Custom utility class for text balance */
  }
}

.parallax {
  background: #c0e0f3; /* Custom background color */
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item{
  font-family: 'Six Caps', sans-serif;
  font-size: 6rem;
}

.parallax-caption {
  font-family: 'Six Caps', sans-serif;
  font-weight: 500;
  font-size: 10rem;
  line-height: calc(4rem + 20.5vw);
  text-align: center;
  color: #073163;
  line-height: 1.2;
  height: 130px
}

.parallax-caption span {
  display: inline-block;
  transition: transform 0.3s ease, font-size 0.3s ease;
  transform-origin: bottom; /* Makes the transform scaleY from the bottom */
}

.parallax-caption span:hover {
  transform: scaleY(1.5);
  font-size: 8.5rem;
}

.box {
  background-color: #073163;
  position: absolute;
  z-index: 9999;
}

.main{
  margin-top: 0vh;
  margin-bottom: 0vh;

}

.cardContainer{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
  .card{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 80vh;
    width: 90%;
    border-radius: 25px;
    transform-origin: top;
    h2{
      text-align: center;
      margin: 0px;
      font-size: 28px;
    }
    .body{
      display: flex;
      height: 100%;

      .description{
        color: white;
        width: 40%;
        position: absolute;
        top: 50%;
        left:30%;
        p{
          font-size: 16px;
          &::first-letter{
            font-size: 28px;
            font-family: 'Title';
          }
        }
        span{
          display: flex;
          align-items: center;
          gap: 5px;
          a{
            font-size: 12px;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }

      .imageContainer{
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        overflow: hidden;
        .inner{
          width: 100%;
          height: 100%;
        }
        img{
          object-fit: cover;
        }
      }
    }
  }
}

html {
  --cursor-color: #333;
  --inner-cursor-color: transparent;
}

.cursorContainer {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}

.cursor {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #073163;
  background-color: transparent;
  position: absolute;
  transform-origin: center;
  transition: transform 0.1s ease-out;
  mix-blend-mode: difference; /* Optional: for visibility against various backgrounds */
}

.cursor.hovered {
  border-color: red; /* Color change when hovered over a menu */
}

.cursor.card {
  width: 80px; /* Double size when over card */
  height: 80px; /* Double size when over card */
  border: none; /* No border when over card */
  background-color: rgba(0, 0, 255, 0.2); /* Translucent background for card */
}

.cursor.sticky {
  background-color: rgba(0, 255, 0, 0.2); /* Change cursor background when sticky */
  /* Optionally, add additional styles to emphasize sticky state */
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #073163;
  pointer-events: none;
}
